<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增关键字')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-autoresponse-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">关键字：</label>
                <div class="col-sm-8">
                    <input name="keyword" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">关键字类型：</label>
                <div class="col-sm-8">
                    <select name="keywordType" class="form-control m-b">
                        <option value="">---请选择---</option>
                        <option value="1">全匹配</option>
                        <option value="2">模糊匹配</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否启用：</label>
                <div class="col-sm-8">
                    <select name="iswork" class="form-control m-b">
                        <option value="">---请选择---</option>
                        <option value="1">是</option>
                        <option value="2">否</option>
                    </select>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">消息类型：</label>
                <div class="col-sm-8">
                    <select name="msgType" id="msgType" class="form-control m-b" onchange="loadTemplate()">
                        <option value="">---请选择---</option>
                        <option value="text">文本消息</option>
                        <option value="news">图文消息</option>
                        <!--<option value="voice">音频消息</option>
                        <option value="video">视频消息</option>
                        <option value="image">图片消息</option>-->
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">关联模板名称：</label>
                <div class="col-sm-8">
                    <input name="templateName" id="templateName" class="form-control" type="hidden">
                    <select class="form-control m-b" name="templateId" id="templateId">

                    </select>
                </div>
            </div>

        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "wx/autoresponse"
        $("#form-autoresponse-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $("#templateName").val($("#templateId option:selected").text());
                $.operate.save(prefix + "/add", $('#form-autoresponse-add').serialize());
            }
        }

        function  loadTemplate() {
            var msgType = $("#msgType").val();
            $.ajax({
                url: prefix + "/loadTemplate",
                type: "post",
                data:{
                    msgType : msgType
                },
                dataType: "json",
                success: function (res) {
                    var data = res.data;
                    $("#templateId").html("<option value=''>---请选择---</option>");
                    $(data).each(function (index,obj) {
                        var temp = '<option value="'+obj.templateId+'">'+obj.templateName+'</option>';
                        $("#templateId").append(temp);
                    })
                }
            });
        }

    </script>
</body>
</html>