<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link th:href="@{/content/message/css/index.css?v=1.3.5}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/plug-in/plugin/hplus/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/plug-in/plugin/hplus/css/style.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="pleft">
    <input type="hidden" name="media_id" id="media_id" value=""/>
    <div class="media_preview_area pp" style="width:320px;">
        <div class="appmsg multi editing">
            <div id="js_appmsg_preview" class="appmsg_content">
                <div th:each="newsItem,stat:${newsitems}">
                    <a href="javascript:void(0);" onclick="previewNewsItem()">
                        <input type="hidden" name="id" th:value="${newsItem.id}" id="id"/>
                        <div th:if="${stat.first}">
                            <div id="appmsgItem" +${stat.index} class="js_appmsg_item has_thumb" data-id="${stat.index}"
                                 data-fileid="200159570">
                                <div class="appmsg_info">
                                    <h3>[[${newsItem.title}]]</h3>
                                    <em class="appmsg_date"></em>
                                </div>
                                <div class="cover_appmsg_item">
                                    <h4 class="appmsg_title"><a target="_blank" onclick="return false;"
                                                                href="javascript:void(0);">[[${newsItem.description}]]</a>
                                    </h4>
                                    <div class="appmsg_thumb_wrp">
                                        <img class="js_appmsg_thumb appmsg_thumb" th:src="@{${newsItem.imagePath}}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${stat.index} ne 0" id="appmsgItem2" class="appmsg_item js_appmsg_item has_thumb"
                             data-id="2"
                             data-fileid="200159577">
                            <img class="js_appmsg_thumb appmsg_thumb" th:src="@{${newsItem.imagePath}}"/>
                            <h4 class="appmsg_title"><a target="_blank"
                                                        href="javascript:void(0);">[[${newsItem.title}]]</a></h4>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    </a>
</div>
</div>
</body>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    function previewNewsItem() {
        window.location.href =   "/news/goContent?id=" + $("#id").val();
    }
</script>
</html>